<d-tabs class="puzzle-type" type="slider" size="md" [(activeTab)]="activeTab" [showContent]="false">
  <d-tab id="mine" [title]="'Mine'"></d-tab>
  <d-tab id="others" [title]="'Others'"></d-tab>
</d-tabs>
<object *ngIf="activeTab==='mine'" [data]="uri|safeUrl" width="100%" height="100%"></object>
<div *ngIf="activeTab==='others'" class="card-container">
  <ng-container *ngFor="let card of cardList">
    <d-card class="card-content" [interactive]="true">
      <d-card-header>
        <d-avatar dCardAvatar [imgSrc]="card.icon" [width]="60" [height]="60" [isRound]="false"></d-avatar>
        <d-card-title>{{card.name}}</d-card-title>
        <d-card-subtitle><i class="card-icon icon-op-member"></i><span>{{card.author}}</span></d-card-subtitle>
      </d-card-header>
      <d-card-content>{{card.desc}}</d-card-content>
      <d-card-actions [align]="'end'">
        <div class="card-block" (click)="goTo(card.url)">
          <i class="card-icon icon-link"></i><span>{{'jump'|translate}}</span>
        </div>
      </d-card-actions>
    </d-card>
  </ng-container>
</div>
