@import '../../devui';

:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.card-container {
  width: 320px;
  margin: 8px;
  .card-icon {
    cursor: pointer;
    font-size: $devui-font-size-icon;
    margin-right: 8px;
    vertical-align: middle;
    & + span {
      vertical-align: middle;
    }
  }
  .card-block {
    margin-right: 16px;
  }
}
