<div dDropDown appendToBody [appendToBodyDirections]="['leftDown','leftUp','rightDown','rightUp']"
  [closeScope]="'blank'">
  <div dDropDownToggle class="theme-toggle">
    {{'themePicker.theme'|translate}}
    <div class="theme-block">
      <span class="brand-color"></span>
      <span class="background-color"></span>
    </div>
  </div>
  <div dDropDownMenu class="theme-menu">
    <section>
      <div class="title">{{'themePicker.mode'|translate}}</div>
      <div class="content">
        <d-radio-group class="theme-select-radio" [(ngModel)]="themeMode" [ngModelOptions]="{standalone:true}"
          (change)="themesChange()">
          <d-radio [value]="'light'">{{'themePicker.light'|translate}}</d-radio>
          <d-radio [value]="'dark'">{{'themePicker.dark'|translate}}</d-radio>
        </d-radio-group>
        <d-toggle></d-toggle>
      </div>
    </section>
  </div>
</div>
