@import "devui";

.cloud-tools {
  > d-layout {
    height: 100vh;
  }
  d-header {
    background-color: $devui-brand;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 120px;
      height: 40px;
      margin-left: 20px;
      font-size: $devui-font-size-icon;
      line-height: 40px;
      color: $devui-light-text;
      .logo-devui {
        margin-top: 8px;
      }
      .logo-devui,
      .text {
        display: inline-block;
        vertical-align: top;
      }
    }
    .search {
      margin-right: 20px;
    }
  }
  d-content {
    padding: 16px;
  }
  d-footer {
    background-color: $devui-brand;
    width: 100%;
    height: 30px;
    color: $devui-light-text;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  svg#waves {
    position: fixed;
    bottom: 0;
    z-index: -1;
  }
}
