@import 'devui';

.cloud-tools {
  background-color: $devui-base-bg;
  background-image: url(../assets/img/bg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  > d-layout {
    height: 100vh;
  }
  d-content {
    padding: 16px;
  }
}
