<div class="header-container">
  <div class="header-left">
    <a class="header-logo" href="/" target="_self" [title]="appName">
      <img class="logo" src="favicon.ico" width="26px" height="26px" />
      <span class="text">{{appName}}</span>
    </a>
    <d-search class="header-search" [iconPosition]="'left'" [isKeyupSearch]="true" [noBorder]="true"
      (searchFn)="onSearch($event)">
    </d-search>
  </div>
  <div class="header-right">
    <div class="theme">
      <theme-picker></theme-picker>
    </div>
    <div class="language">
      <language-switch></language-switch>
    </div>
    <div class="devui-logo">
      <i dSimulateATag href="https://devui.design/"></i>
    </div>
    <div class="header-repo">
      <github-btn [repoName]="appName"></github-btn>
    </div>
  </div>
</div>
